<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newscraper</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .jumbotron {
        margin-bottom: 0;
    }
    .article {
        background-color: #F2F2F2;
        box-shadow: 5px 5px 10px #C0C0C0;
        border-radius: 5px;
        padding: 2%;
        margin: 4%;
    }
    .comment {
        border-bottom: solid 1px #F2F2F2;
        padding: 10px;
        margin: 2%;
    }
    #subDiv {
        background-color: #134486;
        color: white;
        margin-bottom: 2%;
    }
    #commentInput {
        margin-top: 2%;
        width: 100%;
    }
    #main: {
        display: inline-block;
        height: 500px;
    }
    .close {
    }
    .closeX {
    }
</style>
<body>
    {{{body}}}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>